@import "../../UI/styles/colors.scss";

.loginModal {
  .regBtn {
    transition: all 0.2s linear;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
  input {
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #969696;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    &::placeholder {
      font-size: 16px;
      font-weight: 500;
    }
  }
  h5 {
    max-width: 400px;
    text-align: center;
    color: #969696;
    // background-color: $border;
    border: 2px solid $mainD;
    padding: 5px;
    border-radius: 8px;
  }
}

.btnOk,
.btnNo {
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid $mainD;
  background-color: transparent;
  transition: all 0.2s linear;
}
.btnOk {
  cursor: pointer;
  &:hover {
    background-color: $mainD;
    color: $standartW;
  }
}

.btnNo {
  cursor: not-allowed;
}

.error {
  color: $error;
  font-size: 12px;
  font-weight: 500;
  margin: -10px 0;
}

.errorBorder {
  border: 2px solid $error;
}
