@import "../../UI/styles/colors.scss";

.error {
  min-height: 60dvh;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid $border;
  border-radius: 8px;
  background-color: $border;
  gap: 30px;
  height: 70dvh;
  p {
    font-size: 30px;
  }
  button {
    font-size: 22px;
    color: $standartW;
    background: $main;
    border-radius: 8px;
    border: 1px solid $main;
    padding: 10px 20px;
    transition: all 0.2s linear;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
    }
  }
}
